 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Journal{% endblock %}</title>
        {% load staticfiles %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap/bootstrap.min.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap/bootstrap-theme.min.css'%}">
        <script type="text/javascript" src="{% static '/js/bootstrap/bootstrap.min.js'%}"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/journal/css/base.css' %}"/>

    </head>

    <body>
        <!--Header Image-->
        <div class="container-fluid image-header" id="header" style="background: url('{% block header %}{% endblock header %}') no-repeat center center; background-size: cover; background-attachment: fixed;">
            <!--img src="http://www.hdwallpapersfree.eu/walls/mountain-reflection-wide.jpg" class="img-responsive" alt="" /--> <!-- TODO: change to {{ DailyImage.image.url}} TODO: try using background img vs actual img-->
        </div>
        <div class="container-fluid image-header-quote">
            <div>
                <h1>"This is a famous quote"</h1>
                <h3>Thomas Edison</h3>
            </div>
            <div class="row photograph-info">
                <p>Mark van der Maas: London, United Kingdom</p>
            </div>
        </div>

        <!--Main body-->

            <div class="container-fluid body col-md-12 col-sm-12">
                <div class="container col-md-8 col-lg-8 col-xs-10 ">
                    {% block body %}

                    {% endblock %}
                </div>

            </div>

    </body>
</html>

<!-- this is an edit. -->
