 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Journal{% endblock %}</title>
        {% load staticfiles %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap/bootstrap.min.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap/bootstrap-theme.min.css'%}">
        <script type="text/javascript" src="{% static '/js/bootstrap/bootstrap.min.js'%}"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/journal/css/base.css' %}"/>

    </head>

    <body>
        <!--Header Image-->
        <div class="container-fluid image-header" id="header" style="background: url('{% block header %}{% endblock header %}') no-repeat center center; background-size: cover; background-attachment: fixed;">
        </div>
        <div class="container-fluid image-header-quote">
            <div>
                <h1>"This is a famous quote"</h1>
                <h3>Thomas Edison</h3>
                {% block entry-button %}{% endblock entry-button %}
            </div>
            <div class="row photograph-info">
                <p>{% block photo-meta %}{% endblock photo-meta %}</p>
            </div>
        </div>

        <!--Main body-->
            <div class="container col-md-2 col-sm-1">

            </div>
            <div class="container-fluid body col-md-8 col-sm-10">
                <div class="container-fluid">
                    {% block body %}

                    {% endblock %}
                </div>

            </div>

    </body>
</html>

<!-- this is an edit. -->
