{% extends "journal/base.html" %}

{% block header %}{{images.image}}{% endblock header %}
{% block photo-meta %}{{name}}{% endblock photo-meta %}
{% block entry-button %}
    <a href=" {% url 'journal:entry_view' %} " >
        <h2 class="card-title">
            {{today}}<span class="icon-stack">
            <i class="glyphicon glyphicon-plus"></i>
        </h2>

   </span>
    </a>
{% endblock entry-button %}

{% block body %}


        {% for entry in journal_entries %}
        <a href="#">
            <div class="card" style="background:url('{{entry.image.image}}') no-repeat center center; background-size: cover;">
              <div class="card-block">
                <h2 class="card-title">{{entry.date}}</h2>
                <p class="card-text">{{entry}}.</p>
              </div>
            </div>
        </a>

        {% endfor %}

{% endblock %}
