body {
    background-color: rgba(0,0,0,0);
}

* {
    font-family: Helvetica;
}

h1 {
    font-size: 50px;
}


/* Journal Entry Page*/
input {
    width: 100%;
    border: 0px solid;
    border-color: transparent;
    border-top: 1px solid;
    border-top-color: black;
    height: 60px;
}

.entry_label {
    padding: 10px;

}

*:focus {

}


textfield {

}

/* Header */

.container-fluid.image-header {
    min-height: 100vh;
}

.container-fluid.image-header-quote {
    position: absolute;
    width: 100%;
    top: 30vh;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 20px black;
}

.photograph-info {
    right: 30px;
    text-align: right;
    color: rgb(219, 219, 219);
    text-shadow: None;
    position: absolute;
    top: 60vh;
}

/*Index*/
.container-fluid.body {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(238, 238, 238, 0.5);

}

.card-img-top {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 3px 3px 0px 0px;
}

.card {
    margin-top: 30px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(227, 227, 227);
    border-radius: 3px;
}

#main-body {
    width: 100%;
    height: auto;
    background-color: transparent;
}
